.education-info {
    border: thin solid #cccccc;
    margin: 1px 0px 10px 0px;
}
.education-info:after{
    content: " ";
    clear: both;
    display: table;
}
.form-group {
    width: 100%;
    padding: 10px;
}
.education-info label {
    width: 30%;
    display: inline-block;
}

.education-info input,
.education-info select{
    width: 95%;
    margin: 10px 0px;
    height: 40px;
}
.education-info .form-group.small{
    float: left;
    width: 30%;
}
.education-info .form-group.small label {
    display: block;
}
.education-info .form-group.small input,
.education-info .form-group.small select {
    width: 100%;
}
/* front end*/
.boost-content {
    padding: 1rem;
    margin: 0rem 1rem;
    border: 1px solid #1abc9c;
    border-radius: 1rem;

}

.boost-content:after{
    content: " ";
    clear: both;
    display: table;
}

.projects,
.projects a{
    font-size: 14px;
}

li.project{
    margin: 4px !important;
    padding: 4px !important;
    float: left;
    list-style: none;
    width: 180px;
}

li.project span.title,
li.project span.body,
li.project span.footer{
    display: block;
    padding: 5px 10px;
    background-color: #FFFFFF;
}
span.body {
    text-align: center;
    border-radius: 0rem;
}

.cv_education{

}
.skills ul,
.schools ul{
    list-style: square;
}

.skills,
.schools{
    padding: .5rem;
}

li.school{
    margin: 0.5rem;
}

li.school .college,
li.school .school-years,
li.school .certificate,
li.school .grade{
    display: block;

}

li.school .title{
    width: 30%;
    display: inline-block;
}
@media screen and (max-width: 768px) {
    li.school .title {
        width: 100%;
    }
}

.skills{
    border-top: thin solid #cccccc;
}
.skills .skills-title,
.schools .schools-title{
    text-decoration: underline;
    text-transform: uppercase;
}

.skills:after{
    content: " ";
    display: block;
    clear: both;
}

li.skill{
    float: left;
    margin: .5rem;
    width: 30rem;
}
span.skill-level,
span.skill-name{
    display: block;
}
